/* navigation background */
.nav-pills .nav-item.show .nav-link,
    .nav-pills .nav-link.active {
      color: #fff;
      background: var(--main) !important;
      border: none;
      font-weight: bold;
      border-radius: 100px !important;
      border: 3px solid var(--alice) !important;
    }
    .nav-link{
     font-size: 12px;
     border-radius: 100px !important;
     border: 3px solid var(--alice) !important;

    }
    .nav{
     border-radius: 100px !important;
    }
  .my-box {
   padding: 14px;
   background: var(--white);
   position: relative;
   z-index: 1000000;
   border-radius: 10px;
  }

  .input-wrapper {
   position: relative;
   display: flex;
   z-index: 100;
   align-items: center;
   border-radius: 5px;
  }

  form {
   width: 100%;
   position: relative;
  }

  #id {
   font-weight: bold;
   font-size: 16px;
   padding-top: 7px;
   width: 100%;
  }

  input {
   width: 100%;
   padding: 5px 10px;
   border: 2px solid var(--blurs);
   border-radius: 8px;
   outline: none;
  }

  input:focus {
   border: 2px solid var(--main);
  }

  input:focus+label,
  input:not(:placeholder-shown)+label {
   transform: translateY(-100%) scale(0.75);
   top: 15px;
   left: 15px;
   color: var(--main);
   background: var(--white);
   padding: 4px;
   font-weight: bold;
   letter-spacing: 1px;
  }

  &::placeholder {
   color: transparent;
  }

  label {
   position: absolute;
   top: 8px;
   left: 15px;
   color: var(--gray);
   pointer-events: none;
   transform-origin: left center;
   transition: transform 250ms;
   font-size: 15px;
  }

  .coloading {
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   z-index: 1000;
  }

  .my-load {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10000;
   text-align: center;
  }

  .my-load img {
   width: 80px;
   animation: gelatine 0.5s infinite;
  }

  .my-load p {
   font-size: 14px;
   margin-top: 10px;
   font-weight: 700;
  }

  @keyframes gelatine {

   from,
   to {
    transform: scale(1, 1);
   }

   25% {
    transform: scale(0.9, 1.1);
   }

   50% {
    transform: scale(1.1, 0.9);
   }

   75% {
    transform: scale(0.95, 1.05);
   }
  }

  #data {
   margin-bottom: 10px;
  }

  #navig {
   border-radius: 5px;
   background: white;
  }

  .nav-link button:active {
   background: orangered !important;
  }
  .tag-sc{
   margin-bottom: 20px;
  }
.tag-sc img{
 width: 45px;
 margin-right: 10px;
 border-radius: 10px;
}
.tag-sc h5{
 font-size: 14px;
 font-weight: bold;
 margin: 0px;
}
.tag-sc p{
 font-size: 11px;
 color: gray;
 margin: 0px;
}
.contact{
 width: 30px;
 margin-left: 10px;
 filter: invert(32%) sepia(100%) saturate(2083%) hue-rotate(174deg) brightness(100%) contrast(101%);
}
  .codingasik-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 80px;
   background: var(--main);
   z-index: 100;
  }

  .codingasik-produk {
   border: none;
   background: var(--white);
   padding: 15px;
   outline: none;
   margin-bottom: 10px;
   position: relative;
   border-radius: 10px;
   display: flex;
   z-index: 1;
   align-items: center;
  }

  .img-produk {
   width: 50px;
   margin-right: 10px;
   border-radius: 10px;
  }

  .nama-item {
   font-size: 15px;
   font-weight: bold;
   color: var(--black);
   margin-bottom: 0px;
  }

  .harga-item {
   font-size: 13px;
   font-weight: 700;
   color: var(--main);
   margin-bottom: 0px;
  }

  .tag-game {
   font-size: 11px;
   color: gray;
   text-align: left;
   font-weight: 500;
   margin-bottom: 0px;
  }

  .tag-promo {
   margin-right: 5px;
  }

  .diskon {
   background: red;
   position: absolute;
   top: 0;
   right: 10px;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 1px;
   padding-bottom: 1px;
   border-radius: 0px 0px 15px 15px;
  }

  .diskon p {
   color: white;
   font-size: 11px;
   font-weight: bold;
   border-radius: 0px 5px 0px 5px;
   margin-bottom: 0px;
  }
  .offcanvas{
  height: auto !important;
  border: none !important;
 }
 .offcanvas-header{
  background: var(--main);
  padding: 10px !important;
  display: flex !important;
 }
 .offcanvas-header h5{
  font-size: 14px;
  color: white;
 }
 .details{
  border-bottom: 3px dotted #f1f1f1;
  padding-bottom: 5px;
  padding-top: 5px;
 }
 .details p{
  font-size: 13px;
  width: 100%;
  text-align: left;
  margin: 0;
 }
 .details h5{
  font-size: 13px;
  width: 100%;
  text-align: right;
  margin: 0;
  font-weight: bold;
 }
 .det-produk{
  border-bottom: 2px dashed #f1f1f1;
  border-radius: 5px;
  margin-bottom: 10px;
 }
 .det-produk p{
  margin: 0px;
  font-size: 13px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;

 }
 .det-produk h5{
  margin: 0px;
  font-size: 13px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 2px;
  font-weight: bold;
  text-align: right;
  width: 100%;
 }
 .linex{
  border-bottom: 2px dashed var(--blurs);
  margin-bottom: 10px;
  margin-top: 10px;
 }
 .total p{
  font-size: 13px;
  font-weight: 500;
  margin: 0px;
 }
 .total h5{
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
 }
 #space{
  width: 15px;
 }
 .btn-ubah{
  background: var(--gray);
  color: var(--white);
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  font-size: 14px;
  border: none;
  font-weight: bold;
 }
  .btn-beli{
  background: var(--main);
  color: var(--white);
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  font-size: 14px;
  border: none;
  font-weight: bold;
 }
 .box-detail{
  text-align: left;
  background: var(--blurs);
  border-radius: 7px;
  padding: 10px;
 }
 .box-detail h5{
  border: none;
  background: transparent;
  color: var(--main);
  font-weight: bold;
  font-size: 14px;
 }
 .box-detail p{
  border: none;
  background: transparent;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
 }
 .fa-ellipsis-v{
  margin-right: 10px;
  color: var(--yellow);
 }

.swal2-popup {
    background-color: red
}
.swal2-title {
    color: #fff;
    font-size: 14px;
    
}

.swal2-content {
    color: #555;
}
